body{
    background-color: rgb(226, 166, 194);
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: 210%;
}
.border{
    border: 5px solid rgb(85, 173, 125);
    border-radius: 20px;
    margin-left: 20px;
    padding: 2%;

}
h1{
    font-weight: 300;
}
.font-size{
 font-size: 50px;
}
.background{
    background-color: rgb(49, 21, 21);
    border-radius: 5px;

}
#first-heading{
    color: red;
    
}
#second-heading{
    color: #e96666;
    text-align: right;
    margin-left: 1050px;
    padding: 10px;
}
#third-heading{
    color: hsla(240, 100%, 50%, 0.856);
    text-align: center;
   margin-left: 550px;
   margin-right: 550px;
   padding: 10px;
}
.paragraph{
    text-align: center;
    color: white;
}
#old{
    background-color: rgb(43, 16, 163);
}
#new{
    font-weight: 700;
}
.color{
    color: orangered;
}
.align{
    height: 100px;
    width: 200px;
}
input,button{
    border-radius: 10px;
    margin-bottom: 5px;
}
div{
    margin-bottom: 10px;
}
.margin{
    margin-left: 600px;
}
h3{
    display: block;
}
.travel{
    display: inline;
}
.hey{
    color: white;
}